$primary: #353df0;
$white: #fff;
$red: #f00;

.botcat-tizer {
    position: relative;
    z-index: 5;

    overflow: hidden;

    max-width: 220px;
    margin-right: 4px;
    margin-left: 4px;
    padding: 12px 21px;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    text-overflow: ellipsis;

    color: $white;
    border-radius: 16px;
    background-color: $primary;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    transition: all 1s linear;

    &:before {
        content: '';

        position: absolute;
        top: 16px;
        left: -9px;

        display: block;

        width: 0;
        height: 0;

        border-top: 7.5px solid transparent;
        border-right: 9px solid $primary;
        border-bottom: 7.5px solid transparent;
    }

    &__prints {
        display: flex;

        height: 20px;

        & i {
            display: block;

            width: 5px;
            height: 5px;
            margin-top: 15px;
            margin-right: 2px;
            margin-left: 2px;

            border-radius: 50%;
            background-color: $white;
            transition: all .5s linear;
            animation-name: jump;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;

            &:nth-child(2) {
                animation-delay: .15s;
            }

            &:nth-child(3) {
                animation-delay: .3s;
            }
        }
    }

    .botcat-dialog--reverse & {
        color: $primary;
        background-color: $white;

        &:before {
            content: '';

            position: absolute;
            top: 16px;
            right: -9px;
            left: auto;

            display: block;

            height: 0;

            border-top: 7.5px solid transparent;
            border-right: none;
            border-bottom: 7.5px solid transparent;
            border-left: 9px solid $white;
        }

        &__prints {
            & i {
                background-color: $primary;
            }
        }
    }

    &-system {
        &__order {
            padding: 21px;
            box-sizing: border-box;

            font-weight: 500;
            font-size: 14px;
            line-height: 18px;

            border: 1px solid $primary;
            border-radius: 16px;
            background: $white;

            &__price {
                margin-top: 8px;
                margin-bottom: 6px;

                font-weight: 700;
                font-size: 18px;
                line-height: 22px;

                text-align: right;

                color: $red;
            }

            &__oldprice {
                position: relative;

                margin-bottom: 2px;

                font-weight: 700;
                font-size: 14px;
                line-height: 18px;

                text-align: right;

                color: #c2c2c2;

                &:before {
                    content: '';

                    position: absolute;
                    top: 50%;
                    right: -5px;

                    display: block;

                    width: 100%;
                    width: 100px;
                    height: 1px;

                    background-color: #f00;
                }
            }

            &__description {
                font-weight: 700;
                font-size: 9px;
                line-height: 11px;

                text-align: right;

                color: $red;
            }
        }
    }
}

@keyframes jump {
    from {
        margin-top: 15px;
    }

    50% {
        margin-top: 10px;
    }

    to {
        margin-top: 15px;
    }
}
