.botcat-dialogs-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 76px;
    overflow: hidden;

    &__content {
        padding-left: 16px;
        padding-right: 16px;
    }
}